header{
    width: 100%;
    margin-bottom: 20px;
}

header h1{
    background-color: rgb(105, 14, 170);
    color: blanchedalmond;
    border-radius: 10px;
    padding: 2px;
    padding-left: 100px;
}
nav{
    display: flex;
    position: initial;
     background-color: rgb(116, 201, 101);
    margin: 5px;
    border-radius:5px ;
}
.home{
    color: black;
    background-color: rgb(228, 215, 215);
    border-color:white;

}

.about{
    color: black;
    background-color: white;
    
}
.contact{
    color: black;
    background-color: white;
    
}
 

label{
    color: purple;
    border: 1px solid rgb(212, 208, 204);
    background-color:rgb(74, 216, 248);
    border-radius: 10px;
    padding: 2px;
}
input{
    color: purple;
    padding: 2px;
    border-radius: 5px ;
    border-color: rgb(189, 17, 17);
    background-color: gray;
}
button{
    color: purple;
    background-color: rgb(220, 209, 209);
    margin: 2px;
    border: white solid;
    border-radius: 10px;
    padding: 2px;
}
button:hover{
    color: rgb(196, 79, 196);
    background-color: purple;
}
.My{
    height: 100vh;
    align-content: center;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    background-color: rgb(160, 86, 228);
    border-radius: 12px;overflow-y: scroll;
  
}

.My h1{
    background-color:rgb(160, 86, 228) ;
    color: white;
    display: inline;
    font-weight: 900;
    font-size: 10vw;
    margin-left: 30px;
    padding-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Python{
    height: 100px;
    text-align: center;
    margin: 12px;
    width: 25%;
    display: inline;
    height: 30vh;
    background-color: rgb(27, 16, 235);
    border-radius: 10px;
    padding: 2px;
}
.Python h2{
    color: aqua;
    background-color: rgb(27, 16, 235);
    margin-top: 40px;
    text-shadow: black;
    font-size: 5vw;
}
.Python:hover{
    transform: translateY(-30px);
    box-shadow: 0px 5px 15px rgb(255, 255, 255);
}
.html{
    height: 100px;
    margin: 12px;
    text-align: center;
    width: 25%;
    display: inline;
    height: 30vh;
    background-color: rgb(48, 219, 48);
    border-radius: 10px;
    padding: 2px;
}
.html h2{
    background-color:rgb(48, 219, 48) ;
    margin-top: 40px;
    color: blue;
    font-size: 5vw;
}
.html:hover{
    box-shadow: 0px 5px 15px rgb(254, 254, 254);
    transform: translateY(-30px);

}
.js{
    height: 100px;
    text-align: center;
    margin: 12px;
    width: 25%;
    display: inline;
    height: 30vh;
    background-color: blueviolet;
    border-radius: 10px;
}
.js h2{
    background-color: blueviolet;
    margin-top:35px ;
    color: chartreuse;
    font-size: 5vw;
}
.js:hover{
    box-shadow: 0px 5px 15px rgb(254, 254, 254);
    transform: translateY(-30px);
}
.css{
    height: 100px;
    text-align: center;
    margin: 12px;
    width: 25%;
    display: inline;
    height: 30vh;
    background-color: purple;
    border-radius: 10px;
}
.css h2{
    background-color: purple;
    margin-top: 40px;
    color: rgb(101, 6, 36);
    font-size: 5vw;
}
.css:hover{
    box-shadow: 0px 10px 18px 4px rgb(204, 201, 201);
    transform: translateY(-30px);

}
.container{
    display: flex;
    flex-wrap:inherit;
    justify-content: center;
    border-color: green;
    background-color: rgb(104, 98, 180);
    margin: 2px;
    border-radius: 20px;
    border: 2px solid purple;
    margin-top: 10px;
}
.languages{
    height: 100vh;
    border: 3px solid black;
    margin: 3px;
    padding: 5px;
    
}




/* ________grid layouts */
.grid{
    height: 100vh;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1/3;
    grid-row: 1/3;
    gap: 20px;
    background-color: rgb(76, 22, 76);
    margin: 2px;
    display: inline-grid;
    
}
   
.box1{
    background-color: rgb(152, 112, 72);
    margin: 5px;
    margin-left: 20px;
    border-radius:20px ;
    display: inline;
}
.box1 h1{
    background-color: rgb(152, 112, 72);
    margin-top: 150px;
    margin-left: 110px;
    font-size: 5vw;
   
}
.box2{
    background-color: rgb(8, 125, 141);
    margin: 5px;
    border-radius:20px ;
    margin-top: 30px;
    margin-bottom: 1px;
    margin-right: 20px;
    margin-left: 10px;
    
}
.box2 h1{
    background-color: rgb(8, 125, 141);
    margin-top: 150px;
    margin-left: 110px;
    font-size: 5vw;
   
}

.box3{
    background-color: rgb(82, 175, 28);
    margin: 5px;
    border-radius:20px ;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 1px;
}
.box3 h1{
    background-color: rgb(82, 175, 28);
    margin-top: 150px;
    margin-left: 110px;
    font-size: 5vw;
   
}
.box4{
    background-color: rgb(72, 120, 152);
    margin: 5px;
    border-radius:20px ;
    margin-bottom: 2px;
    margin-right: 20px;
    margin-left: 10px;
}
.box4 h1{
    background-color: rgb(72, 120, 152);
    margin-top: 150px;
    margin-left: 100px;
    font-size: 5vw;
   
}






























footer{
    color: black;
    background-color: black;
    height: 50px;
    align-content: center;

}
footer p{
    background-color: black;
    color: aliceblue;

}